*{
    margin: 0;
    padding: 0;
}
.menu{
    height: 100vh;
    width: 20%;
    padding-left: 20px;
}
.menuBtn {
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    font-weight: 900;
    padding-left: 20px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
ul li {
    list-style: none;
    font-size: 1.5rem;
}